*{
    font-family: 'Lato', sans-serif;
    font-family: 'Libre Baskerville', serif;}

   


/* Navigation style */
header{
    height: 420px;
    width: 100%;
    background-color:  #0b0b0b;
    margin-top: 0px;
    border-radius: 5px;
}

.nav-bar{
    display: flex;

    justify-content: space-between;
    padding: 2px 5px 4px 4px;
     }
     
    .nav-bar .button a{
        border-radius: 10px;
        margin-top: 20px;
        margin-right: 80px;
        padding: 10px 40px;
        background-color: rgb(247, 37, 93);
    
        
    }

    .nav-bar a:hover{
        background-color: white;
        color: black;
        border-radius: 10px;
    }

header a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(245, 245, 252);
    font-weight: 900;
    padding: 10px 20px;
    margin-top: 5px;
    margin-right: 10px;
    margin-top: 15pxpx;
    display: inline-block;
    justify-content: space-between;
    
    }

.header-container{
    display: flex;
    margin-left: 20px;
}
.header-container img{
    height: 350px;
    width: 500px;
    margin-right: 50px;

}



      .button a{
    padding: 10px 24px 10px 24px;
    text-decoration: none;
    background-color: #E02C6D;
    color: #FFFFFF;
    border-radius: 10px;

      }

      .header-container .button a:hover{
        background-color: white;
        color: black;
      }
      .header-container .button a{
        margin-top: 0;
      }

      .header-info h2{
    color: rgb(254, 254, 254);
    font-size: 54px;
    font-weight: 700;
    padding-right: 102px;
    font-weight: 900;
    
      }


    
    

/* players-Styles */
.players{
display: grid;
grid-template-columns: repeat(3,1fr);
grid-column-gap: 20px;
grid-row-gap: 27px;
margin-bottom: 20px;
text-align: justify;

    }

.player{
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-shadow: 5px 7px 30px grey;
    border-radius: 10px;
    
}

.player-details h3 a{
    text-decoration: none;
}
.players .player-image img{
     width: 370px;
    height: 326px;
}

.best-performer-Container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-right: 200px;
    margin-left: 250px;
    box-shadow: 5px 7px 30px grey;
    padding: 15px;
    height: 400px;
    width: 750px;
    border-radius: 10px;
    text-align: justify;
}

.best-performer-Container img{
    height: 410px;
    width: 500px;
}
.best-per-details{
    display: inline-block;
    width: 200px;
    height: 200px;
    
}
.best-performer-Container .button a:hover{
    background-color: black;
    color: white;
}
.best-performer-Container .best-per-name a{
    text-decoration: none;
}


.tournament-details{
    display: inline-block;
    grid-template-columns: repeat(1,1fr);
    height: 600px;
    margin-top: 100px;
    text-align: center;
    margin-left: 250px;
    box-shadow: 5px 7px 30px grey;
    border-radius: 10px;
    padding: 10px;
    text-align: justify;
    width: 750px;
    
}
.tournament-details h2{
    text-align: center;
}
.tournament-details img{
height: 400px;
width: 750px;
    
}

.high-container{
    display:flex ;
    justify-content: space-between;
    margin-top: 20px;


}

.high-info{
    height: 300px;
    width: 400px;
    margin-left: 130px;
    margin-top: 60px;

    
}

.high-video iframe{
    margin-right: 100px;
    border-radius: 20px;
}


footer{
    margin-left: 45%;
}

footer a{
    margin-left: 3%;
    text-decoration: none;
}
footer p{
    text-align: end;
    margin-right: 10px;

}

.fa-facebook{
    color: rgb(13, 96, 198);
    background-color: #FFFFFF;
}
.fa-twitter{
    color: rgb(13, 96, 198);
    background-color: #FFFFFF;
}
.fa-whatsapp{
    color: rgb(12, 236, 120);
    background-color: #FFFFFF;
}
.a-instagram{
    color: rgb(255, 13, 106);
    background-color: #FFFFFF;
}


@media only screen and (max-width: 688px) {
   .nav-bar{
    display: none;
   }
.nav-main {
    width: 330px;
    height: 260px;
    margin: 0px;
}

}



